body {
  position: absolute;
  height: 100%;
  width: 100%;
  
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block; 
  min-width: 203px;
  

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header {

}

.main-header__title {
  text-transform: none;
  font-style: italic;  
}

.main-header__tag {
  display: block;

  font-size: 14px;
  line-height: 26px;
}

.main-navigation {

}

.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__item {
  
}

.main-navigation__item:hover {
  background-color: #669ec0;
}

.main-navigation__item a {
  display: block;
  padding: 25px;

  text-decoration: none;
  color: #766357;
}

.main-navigation__item a[href]:hover {
  text-decoration: underline;
  color: #ffffff;

  
}

.main-navigation__item--active a {
  color: #000000;
}

.main-navigation__item--active:hover {
  background-color: #ffffff;
}