body {
  padding: 0 0.6%;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;

  /*pixel perfect*/
  /*background: url("../pict/sedona-index-1200.png") no-repeat center top;*/
  /*background: url("../pict/sedona-index-768.jpg") no-repeat center top;*/
  /*background: url("../pict/sedona-hotels-1200.jpg") no-repeat center top;*/
  /*background: url("../pict/sedona-hotels-768.jpg") no-repeat center top;*/
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.wraper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  box-shadow: 0 5px  15px rgba(0, 0, 0, 0.2);
  color: #000000;
  background-color: #ffffff;
  /*на время оформления внутренней*/
}

.main-header {
  /*layout*/
  /*background-color: rgba(255, 0, 0, 0.4);*/
}

.main-navigation ul {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  width: 20%;
  padding: 14px 0 16px;

  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  /*layout*/
  /*background-color: rgba(0, 25, 100, 0.4);*/
}

.index-logo {

}

.index-logo img {
  position: absolute;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.promo {
  height: 432px;
  padding-top: 76px;

  text-align: center;

  background: url(../pict/sedona-bg.jpg)  0 21% no-repeat ;
  background-size: cover;

/*layout*/
/*opacity: 0.5;*/
}

.promo img {
  width: 458px;
  height: 352px;
  margin-bottom: 18px;

}
.promo .border-bottom {
  height: 57px;
  background: url(../img/bottom-bg.png) bottom no-repeat;
  background-size: contain;
}

.reasons {
  /*layout*/
  /*background-color: rgba(0, 25, 100, 0.4);*/
}

.reasons-header {
  padding: 58px 0 39px;
  text-align: center;
}

.reasons-header h1 {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
}

.reason-description {
  overflow: hidden;
  /*layout*/
  /*background-color: rgba(255, 25, 10, 0.4);*/
}

.reason {
  float: left;
  width: 33.333333%;
  min-height: 204px;
  padding-top: 52px;

  text-align: center;
}

.reason-icon .reason  {
  position: relative;
  min-height: 170px;
  padding-top: 160px;
  background-color: #ffffff;
}

.reason-icon .reason::before  {
  content: "";

  position: absolute;
  top: 55px;
  left: 50%;

  width: 75px;
  height: 76px;
  margin-left: -38px;

  /*background-color: rgba(255, 0, 0, 0.2);*/
}

/*.reason-title {}   он же    .reason h2 */
.reason h2 {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 23px;
  /*padding: 0 20%;*/

  font-size: 21px;
  line-height: 23px;
  font-weight: 700;
}

.reason-number {
  margin-bottom: 21px;
}

.reason p {
  margin: 0;
  padding: 0 14%;

  line-height: 21px;
}

.reason-picture {
  position: relative;
  width: 66.666666%;
  height: 256px;
  overflow: hidden;

/*layout*/
/*opacity: 0.5;*/
}

.reason-picture img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  margin-top: -25%;
}

.reason-description.reason-icon {}
.reason-description.reason-icon h2 {}
.reason-icon-hotel {}
.reason-icon-food {}
.reason-icon-gift {}

.left {
  float: left;
}

.rihgt {
  float: right;
}

.search {
  position: relative;

  padding-top: 54px;
  text-align: center;

  color: #000000;
  background-color: #ffffff;
}

.search h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
}

.search p {
  margin: 0;
  margin-bottom: 48px;
  line-height: 24px;
  color: #766357;
}



.search-form {
  position: relative;
  top: -395px;

  width: 458px;
  margin: 0 auto;
  padding: 55px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  background-color: #ffffff;

  z-index: 3;

  transition: top 1.2s;
}

.search-form-row {
  position: relative;
  min-width: 458px;
  margin-bottom: 31px;
}

.search-form-col {
  width: 226px;
}

.search-form-col + .search-form-col {
  text-align: center;
}

.search-form label {
  line-height: 36px;
}

.search-form  input[type="text"] {
  float: right;
  width: 294px;
  padding: 4px 38px 3px 14px;

  text-transform: uppercase;
  border: none;
  outline: none;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}


.map {
  position: relative;
  height: 473px;
  background-image: url("../pict/map.jpg");
  background-size: cover;

  z-index: 1;
  overflow: hidden;
}

#map-canvas {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
}

#map-canvas iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.modal-show {
  top: 0;
}

.modal-close {
  top: -395px;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

.main-footer {
  overflow: hidden;
}

.footer-heshtag,
.footer-social,
.footer-banner {
  float: left;
  width: 33.333333%;

  text-align: center;
}

.footer-heshtag {
  padding: 48px 0 52px;
  font-size: 21px;
}

.footer-social {
  padding-top: 36px;
  font-size: 0;
}

.footer-banner {
  padding-top: 39px;
}

.footer-banner span {
  margin-right: 5px;
  line-height: 40px;
  vertical-align: top;
}

.footer-banner a,
.footer-social a {
  text-transform: none;
}

/*.footer-banner img {
теперь его размеры задает svg
  width: 113px;
  height: 39px;
}*/

/* --- внутренние страницы --- */
.filter {
  /*margin-bottom: 30px;*/
  padding: 27px 6% 31px;

  background: url(../pict/sedona-blur-bg.jpg)  center no-repeat ;
  background-size: cover;

/*layout*/
/*min-height: 217px;*/
/*opacity: 0.5;*/
}

.hotel-filter {
  /*margin: 0;
  padding: 0;*/

  color: #ffffff;
  overflow: hidden;
}

.hotel-filter fieldset {
  float: left;
  width: 180px;
  margin: 0;
  padding: 0;

  border: none;
}

.hotel-filter fieldset:first-child {
  margin-right: 9%;
}

.hotel-filter .price-block {
  float: right;
  width: 33%;

  text-align: center;
}

.hotel-filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

/*не стандартные чекбоксы*/
.hotel-filter input[type="checkbox"] {
  display: none;
}

.hotel-filter .check-label {
  position: relative;

  display: block;
  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

/*svg*/
.check-indicator {
  position: absolute;
  top: -4px;
  left: -2px;

  display: block;
  width: 26px;
  height: 26px;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='512px' height='512px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'><g id='Icon_25_'><g><path fill='#ffffff' d='M405.333,106.667v298.666H106.667V106.667H405.333 M405.333,64H106.667C83.198,64,64,83.198,64,106.667v298.666    C64,428.802,83.198,448,106.667,448h298.666C428.802,448,448,428.802,448,405.333V106.667C448,83.198,428.802,64,405.333,64 L405.333,64z'/></g></g></svg>");
  background-size: 26px 26px;
}

input[type="checkbox"]:checked + .check-indicator {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='512px' height='512px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'><g id='Icon_24_'><g><path fill='#ffffff' d='M168.531,215.469l-29.864,29.864l96,96L448,128l-29.864-29.864L234.667,280.531L168.531,215.469z M405.333,405.333    H106.667V106.667H320V64H106.667C83.198,64,64,83.198,64,106.667v298.666C64,428.802,83.198,448,106.667,448h298.666    C428.802,448,448,428.802,448,405.333V234.667h-42.667V405.333z'/></g></g></svg>");
  background-size: 26px 26px;
}

.check-label.disabled .check-indicator {
 cursor: not-allowed;
 opacity: 0.8;
}

.check-label.disabled {
 cursor: not-allowed;
 opacity: 0.3;
}
/*END не стандартные чекбоксы*/

.price-block legend {
  margin-bottom: 10px;
}

.price-block .price-value {
  margin-bottom: 19px;
  padding: 6px 0;

  border: 2px solid #ffffff;
  border-radius: 3px;
  overflow: hidden;
}

.price-block label,
.price-block input[type="text"] {
  float: left;
}

.price-block label {
  width: 22%;
  margin: 0;
  padding-left: 0;
  padding-right: 4px;
  text-align: right;
}

.price-block input[type="text"] {
  width: 25%;

  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background: none;
  outline: none;
}

#min-price {
  border-right: 2px solid #ffffff;
}

/*слайдер цены*/
.range-controls {
  margin-bottom: 33px;
}

.progress-bar {
  position: relative;

  width: 90%;
  height: 2px;
  margin: 0 auto;

  background-color: #ababab;
}

.left-controls,
.right-controls {
  position: absolute;
  top: 0;
  margin-top: -9px;
  margin-left: -9px;

  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
  z-index: 10;
}

.left-controls {
  /* left: 0% - 100% для управления положением слайдера*/
  left: 0%;
}

.right-controls {
  /* left: 0% - 100% для управления положением слайдера*/
  left: 75%;
}

.bar {
  position: absolute;
  /* left: 0% - 100%; для задания начальной точки*/
  left: 0%;
  /* width: 0% - 100%; для управления диапозоном*/
  width: 75%;
  height: 2px;
  background-color: red;
}
/*END слайдер цены*/

.hotel-filter *:last-child {
  margin-bottom: 0;
}


.sort,
.hotel {
  padding: 32px 6% 30px;

  border-bottom: 1px solid #e5e5e5;
}

/*.sort,
.search-result {
  border-bottom: 1px solid #e5e5e5;
}*/

/*блок сортировки*/
.sort {
  position: relative;
}

.sort h2 {
  display: inline-block;
  margin: 0;
  margin-right: 44px;
  padding: 0;
  /*vertical-align: top;*/
}

.sort ul {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 12px;
  line-height: 18px;
  /*vertical-align: top;*/
}

.sort li {
  display: inline-block;
  margin-right: 30px;

  font-size: 12px;
  line-height: 18px;
  /*vertical-align: bottom;*/
}

.sort li:first-child {
  margin-right: 37px;
}

.sort a {
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
  opacity: 0.4;
}

.sort .curent a {
  color: #81b3d2;
  border-bottom: 1px dotted transparent;

  opacity: 1;
}

.sort .sort-btn {
  position: absolute;
  font-size: 0;

  border: 5px solid transparent;
}

.sort .descending {
  right: 46px;
  top: 39px;

  border-top: 9px solid #000000;
}

.sort .ascending {
  right: 70px;
  top: 18px;

  border-bottom: 9px solid #000000;
}

.curent .descending {
  border-top: 9px solid #81b3d2;
}

.curent .ascending {
  border-bottom: 9px solid #81b3d2;
}
/*END блок сортировки*/


/*блок результатов поиска hotel */
.hotel {
  padding: 30px 6%;
}

.hotel-picture,
.hotel-description {
  float: left;
}

.hotel-picture {
  width: 135px;
  height: 60px;
  margin-right: 31px;

  /*layout*/
  /*background-color: red;*/
}

.hotel-picture img {
  width: 135px;
  height: 90px;
}

.hotel-description {
  width: 260px;
}

.hotel-title {
  margin: 0;
  margin-bottom: 14px;

  line-height: 14px;
}

.hotel-type {
  display: inline-block;
  min-width: 110px;
  margin-right: 3px;
  margin-bottom: 14px;
}

.hotel-price {
  margin-bottom: 14px;
}

.hotel-rating {
  float: right;
  width: 120px;
}

.rating-title {
  float: right;
  width: 96px;
  padding: 3px 0;
  padding-left: 15px;
  background-color: #f2f2f2;
}

.rating-value {}

.hotel-star {
  margin-bottom: 49px;
  font-size: 22px;
  line-height: 14px;
  text-align: right;
  color: #81b3d2;
}

.star-1::after {
  content: "★";
}

.star-2::after {
  content: "★ ★";
}

.star-3::after {
  content: "★ ★ ★";
}

.star-4::after {
  content: "★ ★ ★ ★";
}

.star-5::after {
  content: "★ ★ ★ ★ ★";
}
/*END блок результатов поиска hotel */


/* -- общие стили -- */
.main-navigation a,
.footer-heshtag  a {
  text-decoration: none;
  color: #000000;
}

.main-navigation .active a {
  color: #766357;
}

.highlight .reason,
.highlight.btn {
  color: #ffffff;
  background-color: #81b3d2;
}

.highlight-grey .reason {
  color: #000000;
  background-color: #eeeeee;
}

/* --------- кнопки -----------*/
.btn {
  display: inline-block;
  padding: 30px 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;

  cursor: pointer;
  color: #ffffff;
  background-color: #766357;
}

.search .btn {
  min-width: 568px;
}

.search-form .btn {
  min-width: 100%;
  margin-top: 25px;
  padding: 16px 0;

  /*color: #ffffff;
  background-color: #81b3d2;*/
}

.calendar-button {
  position: absolute;
  right: 0px;

  font-size: 0;
  background: transparent;
  /*background: url("../img/calendar.svg") no-repeat center;
  background-size: 21px 22px;*/
}

.calendar-button,
.step-button,
.step-button + input[type="text"] {
  float: right;
  width: 38px;

  text-align: center;
}

.calendar-button,
.step-button {
  padding: 6px 0 5px;

  color: #a9a9a9;
  border: none;
  outline: none;
  cursor: pointer;
}

.step-button + input[type="text"] {
  padding: 4px 0 3px;
}

.step-button {
  font-size: 26px;
  background-color: #f2f2f2;
}

.minus-step-button {}
.plus-step-button {}

.hotel-filter .btn {
  /*margin: 0 auto;*/
  padding: 5px 35px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.hotel-description .btn {
  margin-right: 2px;
  padding: 3px 17px;

  font-size: 14px;
  line-height: 21px;
}

.hotel-description .btn:last-child {
  margin-right: 0;
}

.social-btn {
  position: relative;

  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  background-color: #81b3d2;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

/*эффекты hover , focus & etc.*/
/*-hover-*/
.main-navigation a:hover,
.footer-heshtag  a:hover {
  color: #81b3d2;
}

.main-navigation .active a:hover {
  color: #604e43;
}

.btn:hover {
  background-color: #604e43;
}

.highlight.btn:hover,
.social-btn:hover {
  /*color: #ffffff;*/
  background-color: #669ec0;
}

.search .btn:hover {}
.search-form .btn:hover {}

.calendar-button:hover {
  opacity: 1;
}

.step-button:hover {
  color: #000000;
}

.search-form  input[type="text"]:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

/*.footer-banner a svg:hover #facebook,*/
.footer-banner svg:hover #htmlacademy-ico {
  fill: #81b3d2;
}

.hotel-filter .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;

  opacity: 1;
}

.sort .curent a:hover {
  border-bottom: 1px dotted transparent;
}

.curent .descending:hover {
  border-top: 9px solid #81b3d2;
}

.curent .ascending:hover {
  border-bottom: 9px solid #81b3d2;
}

.left-controls:hover,
.right-controls:hover {
  background-color: #1c4f80;
}


/*------- active---------*/
.main-navigation a:active,
.footer-heshtag  a:active {
  color: #b2b2b2;
}

.main-navigation .active a:active {
  color: #d6d0cc;
}

.btn:active {
  color: #857871;
  background-color: #503e33;
  /*opacity: 0.3;*/
}

.highlight.btn:active,
.social-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-btn:active::after {
  opacity: 0.3;
}

.search .btn:active {}
.search-form .btn:active {}

.step-button:active {
  color: #81b3d2;
}

.search-form  input[type="text"]:active {}

.footer-banner a:active {
  opacity: 0.6;
}

.sort a:active {
  color: #000000;
  border-bottom: 1px dotted transparent;

  opacity: 1;
}

.sort .descending:active {
  border-top: 9px solid #81b3d2;
}

.sort .ascending:active {
  border-bottom: 9px solid #81b3d2;
}


/*------------ focus -------------------*/
.search-form  input[type="text"]:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}


/* ==== SVG-icons ====*/
.reason-icon .reason-icon-hotel::before {
  background-image:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300.000000 287.000000'><g transform='translate(0.000000,287.000000) scale(0.050000,-0.050000)' fill='#81b3d2' stroke='none'><path d='M4100 5205 l0 -526 -463 466 c-516 519 -535 535 -647 535 -79 0 -94 -14 -1530 -1450 l-1450 -1450 81 -80 81 -81 326 330 c180 182 328 331 329 331 2 0 3 -684 3 -1520 l0 -1520 -205 0 -205 0 5 -110 5 -110 2575 0 2575 0 0 110 0 110 -200 0 -200 0 0 1523 0 1524 329 -337 330 -336 79 88 79 88 -408 408 -409 408 0 1062 0 1062 -540 0 -540 0 0 -525z m860 -546 l0 -840 -320 323 -320 324 0 517 0 517 320 0 320 0 0 -841z m0 -2790 l0 -1629 -1950 0 -1950 0 0 1635 0 1635 971 971 971 971 979 -977 979 -977 0 -1629z'/><path d='M2725 4120 c-395 -200 -468 -758 -134 -1032 519 -425 1250 112 987 726 -134 315 -545 462 -853 306z m500 -232 c260 -180 221 -576 -70 -697 -242 -101 -517 60 -548 323 -39 333 344 565 618 374z'/><path d='M3933 2527 c-7 -8 -13 -89 -13 -181 l0 -168 115 6 115 6 2 175 2 175 -104 0 c-57 0 -109 -6 -117 -13z'/><path d='M4440 2360 l0 -182 113 6 114 6 -1 170 0 170 -113 6 -113 6 0 -182z'/><path d='M1340 2350 l0 -170 120 0 120 0 0 170 0 170 -120 0 -120 0 0 -170z'/><path d='M1860 2350 l0 -170 119 0 118 0 1 170 1 170 -120 0 -119 0 0 -170z'/><path d='M2380 1520 c0 -528 0 -967 0 -975 0 -8 283 -17 630 -20 l630 -6 0 981 0 980 -630 0 -630 0 0 -960z m1027 -11 c-2 -403 -7 -736 -12 -741 -7 -7 -561 -14 -750 -9 l-45 1 0 740 0 740 405 0 405 0 -3 -731z'/><path d='M1340 1840 l0 -180 120 0 120 0 0 180 0 180 -120 0 -120 0 0 -180z'/><path d='M1860 1841 l0 -181 121 0 121 0 -6 175 -6 175 -115 6 -115 6 0 -181z'/><path d='M3920 1835 l0 -177 115 6 115 6 2 175 1 174 -116 -3 -117 -3 0 -178z'/><path d='M4440 1838 l0 -178 116 0 116 0 -4 175 -4 175 -112 3 -112 4 0 -179z'/></g></svg>");
  background-size: 75px 76px;
}

.reason-icon .reason-icon-food::before {
  background-image:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300.000000 280.000000'><g transform='translate(0.000000,280.000000) scale(0.050000,-0.050000)' fill='#81b3d2' stroke='none'><path d='M2660 5567 c-1063 -119 -1964 -800 -2270 -1715 -113 -337 -150 -749 -71 -791 26 -14 900 -21 2688 -21 2858 0 2710 -5 2715 96 66 1411 -1448 2613 -3062 2431z m922 -284 c1044 -242 1775 -979 1888 -1903 l13 -110 -2436 5 c-1340 2 -2458 5 -2484 5 -156 0 124 780 408 1136 578 722 1670 1085 2611 867z'/><path d='M2261 4827 c-51 -66 -52 -96 -1 -147 88 -88 280 -35 280 76 0 119 -201 170 -279 71z'/><path d='M3604 4849 c-54 -39 -59 -130 -7 -176 47 -43 190 -44 232 -2 122 123 -78 281 -225 178z'/><path d='M2921 4407 c-49 -63 -51 -84 -10 -143 71 -101 289 -41 289 80 0 112 -204 158 -279 63z'/><path d='M100 2820 c-74 -74 -52 -119 155 -322 431 -421 369 -414 710 -81 l154 151 208 -204 c270 -266 240 -271 621 101 l97 96 206 -201 c268 -259 254 -259 522 4 l207 204 207 -204 c268 -264 258 -264 515 -11 l196 193 86 -77 c47 -43 104 -96 127 -118 264 -264 257 -264 518 -10 l210 204 212 -202 c242 -231 254 -235 384 -118 427 382 498 480 408 562 -72 65 -124 40 -331 -158 -109 -104 -203 -189 -209 -189 -6 0 -102 90 -214 200 -138 136 -218 200 -249 200 -31 0 -111 -64 -249 -200 -236 -232 -207 -220 -305 -125 -408 397 -367 388 -632 128 l-206 -202 -189 191 c-280 283 -261 284 -567 -14 l-182 -177 -200 200 c-262 260 -255 260 -519 8 -110 -104 -204 -189 -209 -189 -5 0 -101 90 -213 200 -138 136 -218 200 -249 200 -31 0 -111 -64 -249 -200 -225 -222 -219 -219 -279 -154 -267 293 -417 389 -492 314z'/><path d='M230 1842 c-174 -80 -210 -163 -210 -485 0 -293 23 -356 164 -443 94 -59 96 -62 96 -159 0 -320 258 -648 560 -713 202 -43 4212 -29 4355 15 307 95 523 384 526 701 1 111 1 112 85 153 136 66 174 163 174 452 0 315 -37 399 -210 479 -125 58 -5415 58 -5540 0z m5472 -240 c83 -67 80 -438 -4 -483 -74 -40 -5376 -30 -5416 10 -56 56 -58 386 -2 456 l43 55 2666 0 c2580 0 2668 -1 2713 -38z m-217 -837 c-13 -132 -84 -281 -176 -370 -148 -143 -24 -136 -2350 -130 l-2089 5 -100 66 c-110 74 -193 177 -227 284 -26 83 -42 215 -27 229 6 6 1129 11 2495 11 l2484 0 -10 -95z'/></g></svg>");
  background-size: 75px 76px;
}

.reason-icon .reason-icon-gift::before {
  background-image:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300.000000 354.000000'><g transform='translate(0.000000,354.000000) scale(0.100000,-0.100000)' fill='#81b3d2' stroke='none'><path d='M766 3509 c-66 -27 -122 -67 -182 -131 -80 -85 -99 -127 -99 -228 0 -77 3 -92 34 -155 68 -140 276 -312 544 -451 l122 -63 -568 -1 -568 0 -24 -25 -25 -24 0 -360 c0 -198 4 -371 9 -384 11 -28 56 -47 112 -47 l39 0 0 -795 c0 -778 0 -795 20 -815 11 -11 30 -22 42 -25 13 -3 598 -4 1300 -3 1211 3 1278 4 1295 21 17 17 18 65 21 817 l2 800 39 0 c57 0 98 18 110 49 8 19 11 136 9 389 -3 331 -4 363 -21 379 -16 17 -60 18 -642 23 l-624 5 104 53 c275 142 462 295 534 439 28 55 28 151 1 210 -40 88 -169 181 -280 201 -96 18 -190 -12 -270 -85 -109 -97 -213 -323 -276 -593 -9 -41 -20 -78 -24 -83 -3 -4 -14 28 -24 70 -56 238 -190 545 -290 666 -65 78 -132 130 -195 152 -62 21 -165 18 -225 -6z m189 -133 c136 -57 287 -341 385 -725 11 -46 19 -85 18 -87 -6 -6 -244 112 -341 170 -244 143 -397 301 -397 410 0 99 157 246 263 246 21 0 53 -6 72 -14z m1166 -156 c54 -28 109 -94 109 -131 0 -78 -92 -183 -256 -292 -104 -69 -312 -182 -320 -175 -2 3 7 47 20 99 59 224 134 388 216 470 71 71 133 78 231 29z m-921 -1125 l0 -245 -530 0 -530 0 0 238 c0 131 3 242 7 245 3 4 242 7 530 7 l523 0 0 -245z m468 -852 l-3 -1098 -160 0 -160 0 -3 1085 c-1 597 0 1091 3 1098 3 9 46 12 165 12 l160 0 -2 -1097z m1190 850 l2 -243 -525 0 -525 0 0 238 c0 131 3 242 7 245 3 4 239 6 522 5 l516 -3 3 -242z m-1663 -1168 l0 -780 -445 0 -445 0 -3 770 c-1 424 0 776 3 783 3 10 98 12 447 10 l443 -3 0 -780z m1500 0 l0 -780 -440 0 -440 0 -3 770 c-1 424 0 776 3 783 3 10 97 12 442 10 l438 -3 0 -780z'/></g></svg>");
  background-size: 75px 76px;
}

.social-btn-twiter::after {
  background-image:
  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'><path id='twiter' fill='#ffffff' d='m 250,87.974 c -7.358,3.264 -15.267,5.469 -23.566,6.461 8.471,-5.078 14.978,-13.119 18.041,-22.701 -7.929,4.703 -16.71,8.117 -26.057,9.957 -7.484,-7.975 -18.148,-12.957 -29.95,-12.957 -22.66,0 -41.033,18.371 -41.033,41.031 0,3.216 0.363,6.348 1.062,9.351 -34.102,-1.711 -64.336,-18.047 -84.574,-42.872 -3.532,6.06 -5.556,13.108 -5.556,20.628 0,14.236 7.244,26.795 18.254,34.153 -6.726,-0.213 -13.053,-2.059 -18.585,-5.132 -0.004,0.171 -0.004,0.343 -0.004,0.516 0,19.88 14.144,36.464 32.915,40.234 -3.443,0.938 -7.068,1.439 -10.81,1.439 -2.644,0 -5.214,-0.258 -7.72,-0.736 5.222,16.301 20.375,28.165 38.331,28.495 -14.043,11.006 -31.735,17.565 -50.96,17.565 -3.312,0 -6.578,-0.194 -9.788,-0.574 18.159,11.643 39.727,18.437 62.899,18.437 75.473,0 116.746,-62.524 116.746,-116.747 0,-1.779 -0.04,-3.548 -0.119,-5.309 8.017,-5.784 14.973,-13.011 20.474,-21.239 z'/></svg>");
}

.social-btn-fb::after {
  background-image:
  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path id='facebook' fill='#ffffff' d='M17.252,11.106V8.65c0-0.922,0.611-1.138,1.041-1.138h2.643V3.459l-3.639-0.015 c-4.041,0-4.961,3.023-4.961,4.961v2.701H10v4.178h2.336v11.823h4.916V15.284h3.316 l0.428-4.178H17.252z'/></svg>");
}

.social-btn-youtube::after {
  background-image:
  url("data:image/svg+xml;utf8,<svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 792 612' ><path fill='#ffffff' d='M671.239,44.528H120.371c-61.217,0-110.843,49.626-110.843,110.844v300.18 c0,61.214,49.626,110.842,110.843,110.842h550.868c61.221,0,110.853-49.628,110.853-110.842v-300.18 C782.092,94.154,732.46,44.528,671.239,44.528z M331.986,442.123V173.407l182.222,135.661L331.986,442.123z'/></svg>");
}

.calendar-button {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' ><path d='M60,64H4c-2.2,0-4-1.8-4-4V9c0-2.2,1.8-4,4-4h56c2.2,0,4,1.8,4,4v51C64,62.2,62.2,64,60,64z M4,9v51h56l0-51H4z'/><rect x='16' width='4' height='14'/><rect x='30' width='4' height='14'/><rect x='44' width='4' height='14'/><rect x='2' y='20' width='60' height='4'/><rect x='44' y='32' width='10' height='4'/><rect x='44' y='47' width='10' height='4'/><rect x='27' y='32' width='10' height='4'/><rect x='27' y='47' width='10' height='4'/><rect x='10' y='32' width='10' height='4'/><rect x='10' y='47' width='10' height='4'/></svg>") no-repeat center;
  background-size: 21px 22px;
  opacity: 0.3;
}

.calendar-button:active {
  fill: #81b3d2;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' fill='#81b3d2'><path   d='M60,64H4c-2.2,0-4-1.8-4-4V9c0-2.2,1.8-4,4-4h56c2.2,0,4,1.8,4,4v51C64,62.2,62.2,64,60,64z M4,9v51h56l0-51H4z'/><rect x='16' width='4' height='14'/><rect x='30' width='4' height='14'/><rect x='44' width='4' height='14'/><rect x='2' y='20' width='60' height='4'/><rect x='44' y='32' width='10' height='4'/><rect x='44' y='47' width='10' height='4'/><rect x='27' y='32' width='10' height='4'/><rect x='27' y='47' width='10' height='4'/><rect x='10' y='32' width='10' height='4'/><rect x='10' y='47' width='10' height='4'/></svg>") no-repeat center;
  background-size: 21px 22px;
}


/*-- анимация всплывающих окон --*/

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}
